<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tech Recommendations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!--Number 1 techonogly of the week, using images and paragraphs, padded using divs to fit mobile as
   well as browser-->
  <div style="padding-left: 30%;">
  <h2>Weekly Recommended Top Tech #1</h2>
  <h4>This weeks #1 The Nintendo Switch!</h4>

  <img src="assets/switch.png">

  <!--Filler text taking from https://en.wikipedia.org/wiki/Nintendo_Switch -->

  <div style="padding-right: 30%;">
  <p>Switch is a game console developed by Nintendo, released worldwide, It is a hybrid console that can be used as a 
    home console and portable console like a gameboy. It uses wireless Joy-Con controllers, motion sensing, and tactile 
    feedback, can attach to both sides of the console to support handheld-style play. The Nintendo Switch's software 
    supports online gaming through Internet connectivity, as well as local wireless ad hoc connectivity with other 
    consoles. Nintendo Switch games and software are available on both physical flash-based ROM 
    cartridges and digital distribution via Nintendo eShop; the system has no region lockout. 
    A handheld-focused revision of the system, called the Nintendo Switch Lite, was released on September 20, 2019.
  </p>
  </div>
  </div>
</ion-content>
